<!-- Toolbar -->
<div class="flex items-center justify-between bg-blue-500 text-white p-4">
  <span>Welcome</span>
</div>

<div class="content" role="main">
  <ai-chatbot></ai-chatbot>
</div>

<div class="links">
  <a routerLink="/pages/home" class="text-blue-500">Home</a>
  <br>
  <a routerLink="/pages/aboutus" class="text-blue-500">Why should you add a ChatBot to your website?</a>
  <br>
  <a routerLink="/pages/whatIsChatables.ai" class="text-blue-500">Why did you choose your name?</a>
</div>

<router-outlet></router-outlet>
