.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.chat-history {
  @apply h-48 overflow-y-auto;
}

.scrollable-area::-webkit-scrollbar {
  @apply w-10;
}

.scrollable-area::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

.scrollable-area::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded;
}

.scrollable-area::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

.input-area {
  @apply sticky bottom-0 bg-gray-100 py-2 px-4 flex items-center w-full;
}

.scrollable-area {
  @apply overflow-y-auto h-full;
  height: calc(100% - 2rem);
}

.input-wrapper {
  @apply flex items-center ml-4;
}

.textarea {
  @apply flex-grow resize-none p-2 break-words;
}

.generate-button {
  @apply ml-4 py-2 px-4 bg-green-500 text-white border-none rounded cursor-pointer;

  &:disabled {
    @apply bg-gray-300 cursor-not-allowed;
  }

  &:hover {
    @apply bg-green-600;
  }
}

/* 
.bot-icon {
  @apply filter invert-60;
} */
/* 
.user-icon {
  @apply filter invert-100;
} */

.message {
  @apply flex items-center;
}

.message-text {
  @apply ml-2 break-words break-all max-w-xl;
}

.message-container {
  @apply mb-4 w-full;
}

.user-message {
  @apply bg-blue-100 rounded-md p-2;
}

/* 
.fade-in {
  @apply animation fade-in 0.5s ease-in-out;
} */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}